.swappable-column {
  cursor: move;
}

.swappable-columns-container:not(.moving) .column:hover {
  background-color: hsla(0, 0%, 77%, 0.5);
}

.swappable-column.moving {
  background-color: hsla(0, 0%, 60%, 0.5);
}

.swappable-column.moving.hide-content {
  color: transparent;
}

.swappable-column.moving.hide-content * {
  opacity: 0;
}