/* .my-table,
.my-table th,
.my-table td {
  border: 2px solid lightgray;
  border-collapse: collapse;
  padding: 8px;
} */

*,
::before,
::after {
  box-sizing: border-box;
}

/* to test that  */
.container {
  border: 5px solid red;
  padding-left: 10px;
  padding-right: 20px;
  width: 800px;
  height: 400px;
  overflow: auto;
}

.my-table {
  border-collapse: collapse;
}

th {
  /* padding: 10px; */
  background: blanchedalmond;
}

.my-table th,
.my-table td {
  /*
    to workaround border is not animated when
    `border-collapse: collapse` is set on table
  */
  box-shadow: inset 0px 0px 0px 1px lightgray;
}

.my-table td {
  padding: 8px;
}

.my-table thead {
  transition: background-color .4s ease;
}

.my-table:hover thead {
  background-color: hsla(0, 0%, 87%, 0.5);
}