.my-table,
.my-table th,
.my-table td {
  border: 2px solid lightgray;
  border-collapse: collapse;
  padding: 8px;
}

.my-table thead {
  transition: background-color .4s ease;
}

.my-table:hover thead {
  background-color: hsla(0, 0%, 87%, 0.5);
}